# Use an escaping backslash '\' to use command without alias.

alias ard="arduino-cli"             # Tired of writing this out.
alias cdc="coredumpctl"             # Coredump utility
alias cls="clear"                   # Too much DOS, try Ctrl-l.
alias cmd="cmd.exe /c"
alias cp="cp -ir"                   # Recursive copy, Confirm before overwriting.
alias devenv="devenv.exe"
alias df="df -h"                    # Human-readable sizes.
alias dir='dir --color=auto'        # Add color to dir command.
alias egrep='egrep --color=auto'    # Add color to egrep command.
alias fgrep='fgrep --color=auto'    # Add color to fgrep command.
alias free="free -m"                # Show sizes in MB.
alias gitu="git add . && git commit && git push"  # Quick git add, commit, push.
alias grep='grep --color=auto'      # Add color to grep command.
alias info="info --vi-keys"         # Set vi-key bindings for the info command.
alias l="ls -CF --color=auto"
alias la="ls -A --color=auto"
alias ll="ls -halF --color=auto"
alias lr="ls -thral --color=auto"
alias ls="ls -a --color=auto"       # Add color to ls command.
alias mkdir="mkdir -p"              # Create parent directories.
alias more=less                     # Use less instead of more.
alias mv="mv -i"                    # Confirm before overwriting.
alias ne="nnn -ea"                  # Open txt docs in $EDITOR and auto start NNN_FIFO
alias nnn="nnn -e"                  # Always open text documents in $EDITOR
alias py="python3"                  # Python abbreviation.
alias run="make rebuild && ./a.out" # I'm tired of typing this.
alias scim="sc-im"
# alias sudo="doas"                   # YAGNI
alias tem="trash-empty"             # Empty the trash, found in ~/.local/share/Trash
alias tls="trash-list"              # List the files in the trash directory
alias trest="trash-restore"         # Restore a file in the trash directory
alias vdir='vdir --color=auto'      # Add color to vdir command.
alias vim="nvim"                    # Just an abbreviation for neovim
alias wtr="curl wttr.in"            # Get the local weather.
alias xo="xdg-open"                 # Open with system preferred application.
alias bat="bat -A"                  # Bat, a cat clone with wings
alias antiup="antibody bundle < ~/.zsh_plugins.txt > ~/.zsh_plugins.sh" # Update zsh plugins
alias dot="cd ~/Dotfiles"

# Always start 'nnn' in a tmux session.
#alias nnn="tmux new-session -ds 'temp' nnn -ea; tmux attach-session -t 'temp'"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=critical -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

## UC2
# alias madis="cd ~/adsi/MADIS-UC2"
# alias 3rd="cd ~/SRPMS"
# alias adsi="cd /opt/ats/adsi/current/config"
# alias goq="pushd /opt/ats/adsi/current/config && ../goq -i -v && ../goq -i -z; notify-send --urgency=low \"ADSI/GOQ has been stopped\" && popd"
# alias gw="cd ~/Desktop/UC2_Gateway*/bin"
# alias gwrun="pushd ~/Desktop/UC2_Gateway*/bin && ./start_gateway; notify-send --urgency=critical \"Gateway has stopped\" && popd"
# alias gwlog="pushd ~/Desktop/UC2_Gateway*/bin/log && tail -f `ls -t | head -1` && popd"
# alias gwp="cd ~/adsi/MADIS-UC2/src/GatewayProxy"
# alias logout="gnome-session-quit --logout"
# alias msg="cd ~/adsi/MADIS-UC2/src/userlibs/source/uc2/MessageFactory"
# alias trk="cd ~/adsi/MADIS-UC2/src/userlibs/source/UC2_TN_Map"
# alias uc2="cd ~/adsi/MADIS-UC2/src/r_uc2"
# alias wiz="cd ~/adsi/MADIS-UC2/src/configwiz"
# alias mdb="cd ~/adsi/MADIS-UC2/src/mdbase"

## MADIS
alias madis="cd ~/adsi/MADIS"
alias adsi="cd /opt/ats/adsi/current/config"
alias goq="pushd /opt/ats/adsi/current/config && ../goq -i -v && ../goq -i -z; notify-send --urgency=low \"ADSI/GOQ has been stopped\" && popd"
alias logout="gnome-session-quit --logout"
alias wiz="cd ~/adsi/MADIS/src/configwiz"
alias mdb="cd ~/adsi/MADIS/src/mdbase"
alias sens="cd ~/adsi/MADIS/src/sensor"
alias cor="cd ~/adsi/MADIS/src/userlibs/source/cor_decor"
