; Trevor's Git Configuration File

[user]
    name = Trevor Chaney
    email = trevorchaney@gmail.com
[core]
    autocrlf = true
    editor = nvim
    ; exlcudesFile = ~/.gitignore_global
    exlcudesFile = ~/.config/git/.gitignore_global
    fileMode = false
    ignoreCase = true
    logAllRefUpdates = true
    autocrlf = true
[credential]
    helper = store
[credential "https://github.com"]
    helper = !gh auth git-credential
[credential "helperselector"]
    selected = <no helper>
[credential "http://3.101.19.21"]
    provider = generic
[credential "http://3.95.241.3"]
    provider = generic
[safe]
    directory = C:/Users/tlc/scoop/apps/scoop/current
[color]
    ui = true
[init]
    defaultBranch = master
[branch "master"]
    mergeoptions = --no-ff ; This is set this way for work. Forces merge commit.
    ; mergeoptions = --ff-only ; This should be preferred
[format]
    pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(16,trunc)%ad %C(auto,green)%<(14,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D
[log]
    date = human
[pull]
    ; rebase = false
    rebase = true ; This should be preferred
[push]
    default = current
[fetch]
    prune = true
[rebase]
    autoStash = true
    autoSquash = true
[merge]
    tool = vscode
    ; tool = vimdiff
    ; conflictStyle = diff3
    ; prompt = false
[mergetool "vscode"]
    cmd = "code -n -w $MERGED"
[diff]
    tool = vscode
    colorMoved = zebra
[difftool "vscode"]
    cmd = "code -n -w -d $LOCAL $REMOTE"
[difftool "sourcetree"]
    cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = "'' "
    trustExitCode = true
[alias]
    ; TODO(tlc): Add comments to these to describe what they do.
    ; General
    alias = config --get-regexp alias
    ap = add --patch
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    gg = grep -E --line-number
    gr = grep -WIi
    r = reset
    refs = reflog show --all
    rns = "!_() { rev=$(git rev-parse "$1") && git stash drop $1 || exit 1 ; git stash store -m \"$2\" \"$rev\"; }; _"
    s = status -s
    sadd = add --intent-to-add
    st = status
    sw = switch
    unadd = restore --staged
    unstage = reset HEAD --
    untrack = rm --cached

    ; Refs
    refs = reflog show --all
    recent = for-each-ref --sort committerdate
    fers = for-each-ref --sorted refs/remotes

    ; Log
    full = log --format=full
    fuller = log --format=fuller
    last = log -1 HEAD
    leg = log -E --grep
    lfh = log --full-history -- 
    lg = log --decorate --graph
    lgr = log --format=fuller -i --grep
    lgrep = log --grep=
    lig = log -i --grep
    lo = log --all --decorate --graph
    lop = log -p
    plog = log -p
    sl = shortlog
    slog = log --stat
    struct = log --oneliner --simplified-by-decoration --graph --all

    ; Branches
    br = branch
    bra = branch -a
    brr = branch -r
    brn = branch -m
    brd = symbolic-ref --short HEAD
    bred = branch --edit-description
    brshow = config --get-regexp 'branch.*.description'
    brshow1 = !git config --get "branch.$(git rev-parse --abbrev-ref HEAD).description"
    refbr = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:blue)%(refname:short) %(color:yellow)%(objectname:short) %(color:green)(%(committerdate:relative)) %(color:red)%(authorname) %(color:reset)%(contents:subject)'

    ; Commits
    ci = commit
    ca = commit -a
    cm = commit -m
    cam = commit -a -m
    camend = commit -a --amend -C HEAD
    amend = commit --amend

    ; Pushs
    fpush = push --force-with-lease

    ; Diffs
    ds = diff --staged
    dlc = diff --cached HEAD^
    dead = diff HEAD
    dstat = diff --stat
    check = diff --check
    dc = diff -w --word-diff=color --ignore-space-at-eol

    ; Remotes
    rs = remote show
    rso = remote show origin

    ; Stashes
    spop = stash pop
    lst = stash list

    ; Worktrees
    wt = worktree

    ; Git-flow
    ff = flow feature
    fr = flow release
    fh = flow hotfix
