[user]
    name = Trevor Chaney
    email = trevor.chaney@ultra-ats.com
    ; email = trevorchaney@gmail.com
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[core]
    exlcudesfile = ~/.gitignore_global
    editor = vim
[pull]
    ; ff = only
[init]
    defaultBranch = main
[push]
    default = matching
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
